/*
 =======================
 Typography
 =======================
 */

@font-face {
  font-family: "cast_ironcondensed";
  src: url("../fonts/castiron-condensed-webfont.woff2") format("woff2"),
    url("../fonts/castiron-condensed-webfont.woff") format("woff"),
    url("../fonts/castiron-condensed-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@mixin cool_font {
  font-family: "cast_ironcondensed", sans-serif;
  font-weight: normal;
  font-style: normal;
}

@mixin general_font {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", system-ui, Roboto,
    "Helvetica Neue", sans-serif;
}

body {
  @include general_font;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 200;
  letter-spacing: 0.1em;
  color: $text_color;
}

a {
  text-decoration: none;
  color: $link_color;
  // transition: color 0.3s;
  // &:hover {
  //   color: $link_hover_color;
  // }
}
