.emoji-element {
  letter-spacing: 0.05em;
  position: relative;
  z-index: 1;
  &:before {
    display: inline-block;
    content: "";
    vertical-align: middle;
    font-size: 1.5em;
    margin-right: 0.25em;
    @include breakpoint(medium) {
      font-size: 1.5em;
      margin-right: 0.5em;
    }
  }

  &.-mailto {
    color: $link_color;
  }
  &.-mailto:hover a,
  .touch &.-mailto a {
    color: black;
  }
  &.-mailto:before {
    content: "✋🏻";
  }
  &.-mailto:hover:before,
  .touch &.-mailto:before {
    content: "🤘🏻";
  }

  &.-loader:before {
    content: "⏱️";
  }

  span {
    position: relative;
    z-index: 1;
  }
  display: inline-block;
  position: relative;
  overflow: hidden;
  padding: 0.5em 1.3em;
}
