.tooltip-link{
	position: relative;
	text-decoration: none;
	padding: .3em .4em;
	color: $accent_color;
	&:before{
		position: absolute;
		top: -100%;
    left: -20%;
		padding: 1.3em 2em 1em 4.5em;
		width: 200%;
		height: 200%;
		background-color: #0a0a0a;
		background-image:  url(../img/tooltip-link.svg);
		background-repeat: no-repeat;
		background-position: left 1.2em top 100%;
		background-size: auto 0%;
		color: transparent;
		content: attr(href);
		white-space: pre-wrap;
		word-break: break-all;
		font-size: 75%;
		line-height: 1.2;
		opacity: 0.1;
		transition: opacity 0.3s, color 0.3s, transform 0.3s, background-position 0.3s, background-size 0.3s;
		transform: scale(0.5);
		transform-origin: 20% 100%;
		pointer-events: auto;
	}
	&:hover:before{
		background-position: left 1.5em top 50%;
		background-size: auto 35%;
		color: $accent_color;
		opacity: 1;
    transition-delay: 0s, 0s, 0s, 0.1s, 0.1s;
    transform: scale(1) translateY(-50%);
	}
}
